body {
    background-color: grey;
}

li, h4{
    color: white;
}

table, th, td{
    color: white;
    text-align: left;
    border: 1px solid white;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
  }

h2 {
    color: white;
    text-align: center;
    font-size:4vw
}

h1{
    color: white;
    text-align: center;
    font-size:6vw
}

p {
    color: white;
    font-family: verdana;
    font-size: 20px;
}

img {
    width: 100%;
    height: auto;
}

form {
    text-align: center;
}

.contact{
    text-align: center;
}

a {
    color: orange;
}